*{
    margin:0;
    padding:0;
    }
    body{
        width:100%;
        min-height: 100vh;  
    }
    header{
        height: 50px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 20px;
        background-color: black;
    }
    .logo{
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-left: 10px;
    }
    .logo span{
        color: rgba(243, 173, 23, 0.932);
    }
    .nav-bar a{
        margin-right: 20px;
        text-decoration: none;
        color: white;
        font-size: 25px;
    }
    nav a:hover {
    color: rgb(212, 165, 116);
} 

    .content{
        height: 90vh;
        background-image: url(./coffee.jfif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        padding-left: 8%;
        color: white;
    }
    .content-text h1{
        font-size:50px;
        max-width: 500px;
        animation: move-content-left 2s ease-in-out;  
    }
    .content-text p{
        margin: 5px 0 10px;
        font-size: 40px;
        animation: move-content-left 2s ease-in-out;
        margin-bottom: 20px;  
    }
    .content-text span{
        color: rgb(245, 143, 11);
        font-size: 30px;
        font-weight: bold;
    }
    .btn{
        padding: 12px 25px;
        background-color:rgb(250, 195, 124); 
        color: black;
        border-radius:10px;
        text-decoration: none;
        font-size: 18px;
        animation:button 2s ease-in-out;
        
    }
    .btn:hover{
        background-color: orange;
        font-weight: bold;
        color: white;
    }
    @keyframes move-content-left{
        0%{
            opacity: 0;
            transform: translateX(-50%);
        }
    }
    @keyframes button{
        0%{
            opacity:0;
        }
        100%{
            opacity: 1;
        }
    }
    nav a{
    font-size: 25px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-50px);
    animation: slidedown 4s forwards;
}
@keyframes slidedown{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {

    .content-text h1 {
        font-size: 50px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about img {
        width: 90%;
    }
}

@media (max-width: 480px) {
    nav a {
        margin-left: 10px;
        font-size: 15px;
    }

    .content-text h1 {
        font-size: 32px;
    }
}

@media (max-width:576px){
    .content-text{
         font-size: 45px ;
    }
}

@media (max-width:992){
    .content-text{
        font-size:60px ;
    }
}


    

















    